# assignment of class and objects

In [23]:
class rectangle:
    def area(self,length,width):
        area_of_rect=length*width
        print(area_of_rect)
    def perimeter(self,l,b):
        per=(2*l)+(2*b)
        print(per)

In [24]:
a=rectangle()
a.area(4,4)
a.perimeter(1,1)

16
4

In [35]:
class circle:
    
    def area(self,radius):
        cal=3.14*radius*radius
        print(cal)
    def perimeter(self,radius):
        cal1=3.14*2*radius
        print(cal1)

In [37]:
o=circle()
o.area(8)
o.perimeter(8)

200.96
50.24

In [41]:
class person():
    def introduce(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def display(self):
        print("my name is-",self.name)
        print("age-",self.age)
        print("gender is-",self.gender)

In [42]:
obj=person()

In [43]:
obj.introduce("mru",23,'female')
obj.display()

my name is- mru
age- 23
gender is- female

In [46]:
class vehicle:
    def start_engine(self,make,model,car):
        self.m=make
        self.mo=model
        self.c=car
        print("engine has started",self.m,self.mo,self.c)

In [47]:
obj=vehicle()
obj.start_engine("tata","sumo",1994)

engine has started tata sumo 1994

In [5]:
class bankaccount:
    def __init__(self,balance,interest_rate):
        self.b=b
        self.i=i
    def deposit(self,d):
        self.d=d
    def show(self):
        self.d=self.d+self.b
        print(self.d)
        
    def withdraw(self,w):
        self.w=self.w-self.b
        print(self.w)
    def interest(self):
        self.i=self.b*self.i
        print(self.i)

In [22]:
class bankaccount:
    def __init__(self,balance,interest):
        self.b=balance
        self.i=interest
        
    def deposit(self,d):
        self.d=d
    def show(self):
        self.d=self.d+self.b
        print(self.d)
        
    def withdraw(self,w):
        self.w=w
    def show1(self):
        self.w=self.b-self.w
        print(self.w) 
        
    def show2(self):
        self.i=self.b*self.i
        print(self.i)

In [23]:
obj=bankaccount(1000,5)
obj.deposit(100)
obj.show()
obj.withdraw(500)
obj.show1()
obj.show2()

1100
500
5000

# practice during session

In [4]:
class student:
    def show():
        print('1,divya,67')

In [5]:
s1=student()
print(type(s1))

<class '__main__.student'>

In [2]:
class person():
    print("hi")
    a=10
obj=person() 
print(obj.a)

hi
10

In [4]:
class person():
    print("hi")
    a=10
obj=person()
obj2=person()
print(obj.a)
print(obj2.a)

hi
10
10

In [5]:
def msg():
    print("hello")
msg()

hello

In [10]:
class text():
    def msg():
        
        print("hello")
msg()

hello

In [9]:
class text():
    def msg():
        
        print("hello")
obj=text()
obj.msg()

TypeError: text.msg() takes 0 positional arguments but 1 was given

In [11]:
class text():
    def msg(self):
        
        print("hello")
obj=text()
obj.msg()

hello

In [15]:
#calling using class
class text():
    def msg(self):
        
        print("hello")
obj=text()
obj1=text()

text.msg(obj)
text.msg(obj1)

hello
hello

In [16]:
def add(a,b):
    c=a+b
    print(c)
add(2,6)

8

In [17]:
#by using method(function)
class addition():
    
    def add(self,a,b):
        
        c=a+b
        print(c)
obj=addition()
obj.add(5,5)

10

In [18]:
class subtraction():
    def sub(self,a,b):
        c=a-b
        print(c)
obj=subtraction()  
obj.sub(10,5)

5

In [19]:
#by using global variable
class addition():
    d=30
    def add(self,a,b):
        c=a+b+self.d
        print(c)
obj=addition()
obj.add(10,20)

60

In [20]:
class addition():
    d=30
    def add(self,a,b):
        c=a+b+self.d
        print(c)
obj=addition()
obj2=addition()

obj.add(10,20)
obj2.add(10,10)

60
50

In [21]:
class person():
    def get_details(self):
        name="mru"
        age=23
        gender="female"
        print("my name is-",name)
        print("my age is-",age)
        print("gender-",gender)
obj=person()
obj.get_details()

my name is- mru
my age is- 23
gender- female

In [23]:
class person():
    def get_details(self):
        self.name="mru"
        self.age=23
        self.gender="female"
        
    def print_details(self):
        
        print("my name is-",self.name)
        print("my age is-",self.age)
        print("gender-",self.gender)
obj=person()
obj.get_details()
obj.print_details()

my name is- mru
my age is- 23
gender- female

In [31]:
class person():
    def get_details(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        
    def print_details(self):
        
        print("my name is-",self.name)
        print("my age is-",self.age)
        print("gender-",self.gender)
obj=person()
obj.get_details("mry",23,"female")
obj.print_details()

my name is- mry
my age is- 23
gender- female

In [2]:
class person():
    def introduce(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        print(self.name,self.age,self.gender)
obj=person() 

obj.introduce("mru",22,"female")

mru 22 female

In [32]:
#without using function
class person:
    name=" "
    age=0
    gender=" "
obj=person()
obj.name="mru"
obj.age=23
obj.gender="female"

print("my name is",obj.name, "age",obj.age,"gender is",obj.gender)

my name is mru age 23 gender is female

In [33]:
#area of rectange
class calculation():
    def area(self,l,b):
        area_of_rectangle=l*b
        print(area_of_rectangle)
obj=calculation()
obj.area(4,4)

16

In [34]:
#using class,variables,object
class calculation():
    l=0
    b=0
    def area(self,l,b):
        print(l*b)
obj=calculation()
obj.area(3,8)

24

# built in class attributes

In [4]:
class t():
    def msg(self):
        
        print("hello")
o=t()
o.msg()

hello

In [5]:
dir(o)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'msg']

In [7]:
print(o.__dict__)

{}

In [8]:
print(t.__dict__)

{'__module__': '__main__', 'msg': <function t.msg at 0x00000256FC641AB0>, '__dict__': <attribute '__dict__' of 't' objects>, '__weakref__': <attribute '__weakref__' of 't' objects>, '__doc__': None}

In [9]:
print(o.__doc__)

None

In [10]:
print(t.__doc__)

None

In [11]:
print(o.__name__)

AttributeError: 't' object has no attribute '__name__'

In [12]:
print(t.__name__)

t

In [13]:
print(o.__module__)

__main__

In [14]:
print(t.__module__)

__main__

In [17]:
print(o.__bases__)

AttributeError: 't' object has no attribute '__bases__'

In [18]:
print(t.__bases__)

(<class 'object'>,)

In [19]:
class t():
    '''i am creating'''
    def msg(self):
        
        print("hello")
o=t()
o.msg()

hello

In [20]:
print(t.__doc__)

i am creating

In [9]:
class employee:
    name="divya"
    dept="sales"
    salary="8900"
e=employee()

In [10]:
res_n=getattr(e,'name')
print(res_n)

divya

In [11]:
res_n=getattr(e,name) #should be in string
print(res_n)

NameError: name 'name' is not defined

In [12]:
res_n=getattr(e,'location')
print(res_n)

AttributeError: 'employee' object has no attribute 'location'

In [13]:
res_n=getattr(e,'location','it will only access class variable')
print(res_n)

it will only access class variable

In [14]:
hasattr(e,'name')

True

In [15]:
hasattr(e,'location')

False

In [16]:
setattr(e,'name','kishore')

In [17]:
getattr(e,'name')

'kishore'

In [18]:
setattr(e,'location','mumbai')

In [19]:
print(e.location)

mumbai

In [24]:
delattr(e,'name')
print(e.name)

AttributeError: name

In [25]:
delattr(e,'salary')
print(e.salary)

AttributeError: salary

In [26]:
getattr(e,'salary')

'8900'