## public access specifier

### class

In [17]:
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name=" ,self.name)
        print("age =",self.age )

In [18]:
obj=A("mru",24)

In [19]:
obj.show()

name= mru
age = 24

In [20]:
print(obj.name)

mru

In [21]:
print(obj.age)

24

### derived class

In [2]:
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name=" ,self.name)
        print("age =",self.age )
        
class B(A):
    def __init__(self,name,age,location):
        A.__init__(self,name,age)
        self.l=location
        
    def display(self):
        print("loc=",self.l )

In [3]:
c=B("mru",26,'chennai')

In [4]:
c.show()
c.display()

name= mru
age = 26
loc= chennai

In [5]:
print(c.name)

mru

In [6]:
print(c.age)

26

In [8]:
print(c.l)

chennai

### private access specifier

In [23]:
class A:
    def __init__(self,name,age=0):
        self.name=name
        self.__age=age
    def show(self):
        print("name=" ,self.name)
        print("age =",self.__age )

In [24]:
c=A("mru","23")

In [25]:
c.show()

name= mru
age = 23

In [27]:
print(c.name)

mru

In [28]:
print(c.age)

AttributeError: 'A' object has no attribute 'age'

In [29]:
print(c.__age)

AttributeError: 'A' object has no attribute '__age'

In [30]:
class multi:
    __num1=0
    __num2=0
    def __init__(self):
        self.__num1=6
        self.__num2=4
        print(self.__num1)
        print(self.__num2)
        print(self.__num1*self.__num2)

In [31]:
m=multi()

6
4
24

In [35]:
print(m.num1)

AttributeError: 'multi' object has no attribute 'num1'

### protected accesible object

In [36]:
class A:
    def __init__(self,name,age):
        self._name=name
        self._age=age
    def show(self):
        print("name=" ,self._name)
        print("age =",self._age )

In [38]:
f=A("karan",43)

In [39]:
print(f.name)

AttributeError: 'A' object has no attribute 'name'

In [40]:
print(f.age)

AttributeError: 'A' object has no attribute 'age'