# LOOPS

# Looping statement 1

# 1) print Hello

In [1]:
for i in range(1,11):       #using for loop
    print("Hello",i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [2]:
i=1                      #using while loop
while i<=10:
    print("Hello",i)
    i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# 2) print sum of first 10 numbers

In [3]:
i=1
Sum=0                
while i<=10:
    Sum+=i
    i+=1
    print(Sum)

1
3
6
10
15
21
28
36
45
55

# 3) Print n number entered by the user

In [4]:
n=int(input("enter the number :"))
i=0
while i<n:
    print(i)
    i+=1

enter the number :5
0
1
2
3
4

# 4) Print number 1 to 10

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 5) program to print sum of n numbers

In [6]:
i=1
Sum=0
n=int(input("enter a number: "))
while i<=n:
    Sum+=i
    i+=1
print("Sum is",Sum)

enter a number: 5
Sum is 15

# 6) print table of number

In [7]:
n=int(input("enter a number: "))
i=1
while i<=10:
    print(n, "*" ,i,"=" ,n*i)
    i+=1

enter a number: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# 7) calculate the factorial of number

In [8]:
num=int(input("enter the number: "))
fact=1
for i in range(num,1,-1):
    fact*=i
print(fact)

enter the number: 5
120

# 8) print even number between 1 to 100

In [9]:
for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# 9) print odd number between 1 to 100

In [1]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Looping Statement 2

# 1) check whether the number is pallindrome or not

In [10]:
n=int(input("enter the number: "))
rev=0
temp=n
while n>0:
    dig=n%10
    rev=rev*10+dig
    n=n//10
if temp==rev:
    print("the no is pallindrome")
else:
    print("the no is not pallindrome")

enter the number: 123
the no is not pallindrome

# 2) program to find factors

In [2]:
n=int(input("enter a number: "))   #for loop
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter a number: 5
1
5

In [3]:
n=int(input("enter a number:"))    #while loop
i=1
while i<=n:
    if n%i==0:
        print(i)
    i+=1

enter a number:6
1
2
3
6

# 3) Reverse a number

In [4]:
n=int(input("enter the number:"))
rev=0
while n>0:
    dig=n%10
    rev=rev*10+dig
    n=n//10
print(rev)

enter the number:13456
65431

# 4) print sum of reverse a number

In [5]:
n=int(input("enter the number:"))
Sum=0
while n>0:
    rev=n%10
    Sum+=rev
    n=n//10
print(Sum)

enter the number:12345
15

# 5) Print number in reverse order

In [6]:
num=int(input("enter the number: "))
for i in range(num,0,-1):
    print(i)

enter the number: 5
5
4
3
2
1

# 6) print the cube from 1 to a given number

In [7]:
n=int(input("enter the number: "))
for i in range(1,n+1):
    cube=n**i
    print(cube)

enter the number: 3
3
9
27

# 7) check the prime or not

In [12]:
num=int(input())
flag=False
for i in range(2,num):
    if num%i==0:
        flag=True
        break
if  flag==True:
    print("the no is not prime")
else:
    print("the prime")

2
the prime

# 8) print the prime numbers 1 to100

In [13]:
for i in range(2,101):
    for j in range(2,101):
        if i%j==0:
            break
    if i==j:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Looping statement 3

# 1) count the total number of digits in a number

In [11]:
num=int(input())
count=0
while num>0:
    num=num//10
    count=count+1
print(count)

2345
4

# 2) fibonacci series

In [14]:
num=int(input("enter the number"))
n1,n2=0,1
i=0
while i<num:
    print(n1)
    last=n1+n2
    n1=n2
    n2=last
    i+=1

enter the number6
0
1
1
2
3
5

# 3) check wheather given number is perfect number or not

In [15]:
x=int(input("enter the number "))
sum=0
for i in range(1,x):
    if x%i==0:
        sum=sum+i
if x==sum:
    print("perfect no")
else:
    print("not perfect no")

enter the number 6
perfect no

# 4) check wheather given number is armstrong number or not

In [16]:
num=int(input("enter the number"))
val=0
x=num
while x>0:
    dig=x%10
    val=val+dig**3
    x=x//10
if num==val:
    print("armstrong number")
else:
    print("not armstrong number")

enter the number153
armstrong number

# 5) check wheather given number is strongest number or not

In [17]:
n=int(input("enter the number"))
temp=n
add=0
while n>0:
    rem=n%10
    fact=1
    i=1
    while i<=rem:
        fact=fact*i
        i=i+1
    add=add+fact    
    
    n=n//10
if add==temp:
    print("the no is strongest")
else:
    print("the no is not strongest")

enter the number145
the no is strongest

# Looping statement 4

# 1) find the numbers which is divisible by 7 and multiply of 5 between 1000 and 2000

In [12]:
for i in range(1000,2001):
    if i%7==0 and i%5==0:
        
        print(i)

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995

# looping statement -4

# star pattern

In [2]:
for i in range(5):
    for j in range(i+1):
        print("* ",end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [3]:
for i in range(6):
    for j in range(6):
        print("*",end="")
    print()

******
******
******
******
******
******

In [11]:
for i in range(5):
    for j in range(i,5):
        print("* ",end=" ")
    print()

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [16]:
for i in range(5):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,5):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [17]:
for i in range(5):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

# 2) number pattern

In [2]:
for i in range(6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
for i in range(1,6):
    for j in range(1,i+1):
        
         print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
for i in range(1,6):
    for j in range(i,6):
        print(6-j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [3]:
for i in range(5):
    for j in range(5-i):
        print(5-j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [5]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 3) alphabet pattern

In [7]:
for i in range(6):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [8]:
for i in range(6):
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [9]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [13]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

E E E E E
D D D D
C C C
B B
A